.main_title_wrap
	margin-bottom: 3rem
	padding: 2rem 0
	background: #fff
	border-radius: 4px
	text-align: center

.main_title
	font-size: 2em
	margin: 0
.main_subtitle
	font-size: 1.2rem
	margin-top: 0.5em
	color: #0f161a
	line-height: 1.25
	clear: both


.main_list_wrap
	display: flex
	flex-wrap: wrap
	margin-left: -20px
	margin-right: -20px
.main_item_wrap
	width: calc( 100% / 3 - 40px )
	margin: 20px
	box-sizing: border-box
	border-radius: 4px
	box-shadow: 0 2px 4px rgba(38, 50, 56, .5)
	background: #fff


.main_item_img_wrap

.main_item_img_link
	display: block
	width: 100%
	height: 100%
.main_item_img
	width: 100%
.main_item_category
.main_item_name_h3
.main_item_link
.main_item_txt
